.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding: 5px 0;
    text-align: center;
    z-index: 1000;
    &__logo {
            width: 100px;
            height: 100px;
        }
    &__item {
        display: flex;
        justify-content: space-around;
        max-width: 800px;
        margin: 0 auto;
        padding-bottom: 20px;
        font-size: 20px;
    }
    &__item a:hover {
        color: rgb(158, 135, 50);
    }
    &__services {
        position: absolute;
        background-color: rgba(25, 24, 24, 0.907);
        margin-left: -85px;
        margin-top: 20px;
        padding: 15px 15px 5px 15px;
        text-align: left;
        font-size: 16px
    }
    &__services_item {
        padding-bottom: 10px;
    }
}





