.footer {
    background-color: black;
    text-align: center;
    margin: 0;
    padding: 0;
    &__icons {
        display: flex;
        gap: 100px;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
    }
    &__github {
        background-color: white;
        border-radius: 10px
    }
}